/*折线图组件样式*/
.h5_component_polyline {
    font-family: "Microsoft YaHei";
}

.h5_component_polyline canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    //background-color: #eee;
}

.h5_component_polyline .text {
    position: absolute;
    top: 100%;
    font-size: 12px;
    text-align: center;
    transform:scale(0.8);
    -webkit-opacity: 0;
    opacity: 0;
}
/*.h5_component_polyline_load .text {
    transition:all 1s 2s;
    -moz-transition:all 1s 2s; !* Firefox 4 *!
    -webkit-transition:all 1s 2s; !* Safari and Chrome *!
    -o-transition:all 1s 2s;
    -webkit-opacity: 1;
    opacity: 1;
}
.h5_component_polyline_leave .text {
    -webkit-opacity: 0;
    opacity: 0;
}*/

/*
.h5_component_polyline canvas:last-child {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 0;
    transition:all 1s 1s;
    -moz-transition:all 1s 1s; !* Firefox 4 *!
    -webkit-transition:all 1s 1s; !* Safari and Chrome *!
    -o-transition:all 1s 1s;
}
.h5_component_polyline_load canvas:last-child {

    top: 0;
    height: 100%;
}
.h5_component_polyline_leave canvas:last-child {
    top: 100%;
    height: 0;
}
*/
